@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #adadad;
  --bg-card-color: #c9c9c9;
  --font-color: #000;
}
* {
  font-size: 24px;
}
body {
  background-color: var(--bg-color);
}
